@import '../base/variables';
@import '../base/mixin';

footer {
    margin-top: 80px;
    bottom: 0;
    width: 100%;
    background-color: $nav-font-color;
    justify-content:right;
    letter-spacing: 2px; 

    @media only screen and (max-width:450px) {
        width: 100%;
         bottom: 0px;
    }

        .footer-end {
         background-color: $nav-font-color;
         @include mixfooter (flex, space-between, 10px);
         width: 100%;
         align-items: center;
         bottom: 0px;

         @media only screen and (max-width:450px) {

         @include mixfooter (flex, right, 2px);
         @include medidas ( 100%, 30% );
    
         }

           .img-footer {
            @include medidas ( 80px, auto);
            margin-left: 290px;
            margin-bottom: 30px; 

           }

           .nav-footer {
            width: 100%;


               .nav-list {
                list-style: none;
                border: none;
                @include mixfooter (inline-block, space-around, 50px);
                justify-items: center;
                flex-direction: row-reverse;

                @media only screen and (max-width:450px) {
                    
                    display: inline-block;
                    padding: 20px; }

            }
        }
    }
}