@import '../base/_variables';
@import '../base/mixin';

header {
    nav{
        @media only screen and (max-width:450px) {
            width: 100%;
            
        }
     .container-fluid {
        font-size: 15px;
        justify-content: space-between;
        background-image: url(../fotos/pexels-photo-1353938.webp);
        height: 300px;
        @media only screen and (max-width:450px) {
            
            @include medidas (100%, 2%);
        }

         h1{
            
            font-weight: $h1-font-weight;
            color: $nav-font-color;
            text-decoration: underline;

            @media only screen and (max-width:450px) {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            padding: 20px;
            color: $nav-font-color; }
        }

          .nav-item {
            padding: 30px;
            font-size: 15px;
            color: $nav-font-color;

           .nav-link {
             font-weight: 600;
             font-size: 22px;
             color: $nav-font-color;
             border: solid 1px $nav-font-color;
            }
           
        }
    }
}
        .nav-top {
            display:flex;
            flex-direction: row-reverse;
            padding-right: 55px; 
            padding-top: 20px; 
            color: $nav-font-color;

            @media only screen and (max-width:450px) {
                width: 100%;
                
            }
        }

    }
   
