@import '../base/variables';
@import '../base/mixin';

* {
    margin: 0;
    padding: 0;
   }
  
  
  a:visited , a:link {
  text-decoration: none; color: $bg-color;
}
   

   body {
    background-color: $bg-color;
    font-family: $font-family;

    main {
        display: flex;

        .img-wsp { 
            position:fixed;
            @include medidas (55px, 80px);
            bottom: 30px;
            right: 30px;
            border-radius: 30px;
            font-size: 4rem;
            color: lightgreen;

            @media only screen and (max-width:450px) { 

            position:fixed;
            @include medidas (5px,8px);
            bottom: 50px;
            padding: 20px;
            border-radius: 3px;
            font-size: 2rem; 
         }
         }

        h2 {
            padding: 5px;
            color: $h2-border-color; 
            font-size: 1rem;

            @media only screen and (max-width:450px) {
               font-size: 10px; 

            }
         }
         
         h3 {
            padding: 4px;
            border: solid $h2-border-color 2px; 
            font-size: 1rem;

            @media only screen and (max-width:450px) {
               font-size: 8px;

            }
         }
         .bottom {
            font-size: large;
         }
    }
    
   
 } 
   